.left_top{
    height: 15%;
    padding: 20px 0;
    border-bottom: 1px solid black;
}
.left_top_content{
    width: 100%;
    height: 100%;
    clear: both;
    border-bottom: thick dotted gray;
}
.left_bot{
    height: 85%;
    padding: 20px 0;
    border-top: 1px solid black;
}
.left_bot_content{
    width: 100%;
    height: 100%;
}
.left_title{
    height: 10%;
}
.left_bot_text{
    height: 95%;
    border: 1px solid #000;
    overflow-y: auto;
    max-height: 90%;
    border-radius: 10px;
    padding: 10px;
}
.left_top_images{
    height: 35px;
    width: 35px;
    float: left;
    margin: 0px 13px;
}
.left_top_images img{
    width: auto;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
}
.left_friends{
    margin: 10px 0px;
}
.left_todo{
    clear: both;
    margin-top: 10px;
    margin-left: 10px;
}
.left_todo p{
    float: left;
    width: 70%;
    border-bottom: 1px solid gold;
}
.left_todo div{
    float: right;
    width: 30%;
    text-align: center;
}
.left_todo.complete{
    color: #00ff00;
}
.left_todo.incomplete{
    color: #ffa07a;
}
#addTodo,#sendGlobalChat{
    text-align: center;
}